.venv
.python-version
commands.txt
/Explainers
./scraper.py
./definition_of_done.md
definition_of_done.md
commands.txt
.gitignore
logs/dbt.log
dbt/logs/dbt.log
DBT_CHEATSHEET.md
.gitignore
.env
target/
target/partial_parse.msgpack
dbt_packages/
./python_scripts/
python_scripts/script1.py
python_scripts/.ipynb_checkpoints/script1-checkpoint.py
/python_scripts/other_file/clean_file_working_out.ipynb
./python_scripts/other_file/clean_file_working_out.ipynb
.ipynb_checkpoints/
package-lock.yml
/Users/mohammed/repos/GreatLockIn2025/dbt_projects/dbt_football_project/DBT_PFL_Statistics/python_scripts
.DS_Store
dbt/seeds/other_file_clubs_involved.csv
dbt/seeds/other_file_clubs_involved.xlsb

# dbt & compiled stuff
logs/
dbt/logs/
warehouse/*.duckdb
.DS_Store
.ipynb_checkpoints/
target/
dbt_packages/
logs/
dbt/logs/
warehouse/*.duckdb
.DS_Store
.ipynb_checkpoints/
target/
dbt_packages/
logs/
dbt/logs/
warehouse/*.duckdb
keygen.txt


.ssh/
id_ed25519
id_ed25519.pub
2025_fix_up
2025_fix_up.pub
*.pem
*.key
